# python -m pip install -r requirements.txt

fastapi
uvicorn
httpx
beautifulsoup4
lxml
sqlalchemy
aiosqlite
pydantic
python-dotenv
tenacity

undetected-chromedriver
selenium
standard-distutils
selenium-stealth

pytest>=8.0.0
pytest-asyncio>=0.23.0